<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <header>
    <div class="container">
      <a href="#" class="logo">CoolApp</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/list">List</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

<div class="container">
  <router-outlet></router-outlet>
</div>
